<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cards Slideshow</title>
<!-- Link to Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="card.css">
</head>
<body>

<div id="cardCarousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner d-flex">


<!--  carousel slide 1 main -->

<div class="carousel-item active">
    <div class="row">
        <!-- card 1 -->
        <div class="col-md-2">
            <img src="images/image2.jpg" class="card-img-top" alt="Fissure in Sandstone" height="300px">
            <div class="card-body">
            <h5 class="card-title">Heha Ahmed</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
            </div>
        </div>
        <!-- card 2 -->
        <div class="col-md-2" >
        <img src="images/image3.png" class="card-img-top" alt="Fissure in Sandstone" height="300px" />
        <div class="card-body">
            <h5 class="card-title">Ali Mohamed</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
        <!-- card 3 -->
        <div class="col-md-2" >
        <img src="images/image4.png" class="card-img-top" alt="Fissure in Sandstone" height="300px" />
        <div class="card-body">
            <h5 class="card-title">Eslam Adel</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
        
        <!-- card 4 -->  
        <div class="col-md-2" >
        <img src="images/image5.png" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
        <div class="card-body">
            <h5 class="card-title">Adham Hassan</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
    
    </div>
</div>

<!--  carousel slide 2 -->

<div class="carousel-item">
    <div class="row">
        <!-- card 5 -->
        <div class="col-md-2" >
        <img src="images/image6.png" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
        <div class="card-body">
            <h5 class="card-title">Ayman Saied</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
        <!-- card 6 -->
        <div class="col-md-2" >
        <img src="images/image7.jpg" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
        <div class="card-body">
            <h5 class="card-title">Amin Ahmed</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
        <!-- card 7 -->
        <div class="col-md-2" >
        <img src="images/image8.png" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
        <div class="card-body">
            <h5 class="card-title">Menna Abdullah</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
        <!-- card 8 -->
        <div class="col-md-2" >
        <img src="images/image9.jpg" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
        <div class="card-body">
            <h5 class="card-title">Abdelrhman Mahmoud</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
    </div>
</div>



<!--  carousel slide 3 -->
<div class="carousel-item">
    <div class="row">
        <!-- card 9 -->
        <div class="col-md-2" >
            <img src="images/image10.jpg" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
            <div class="card-body">
                <h5 class="card-title">Yosif Elsayed</h5>
                <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
            </div>
        </div>    
        <!-- card 10 -->
        <div class="col-md-2" >
        <img src="images/image11.jpg" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
        <div class="card-body">
            <h5 class="card-title">Hager Ali</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
        <!-- card 11 -->
        <div class="col-md-2" >
        <img src="images/image12.png" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
        <div class="card-body">
            <h5 class="card-title">Omar Osama</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
        <!-- card 12 -->
        <div class="col-md-2" >
        <img src="images/image13.jpg" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
        <div class="card-body">
            <h5 class="card-title">Marwan Eid</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
    </div>
</div>



<!--  carousel slide 4 -->
<div class="carousel-item">
    <div class="row">
        <!-- card 13 -->
        <div class="col-md-2" >
            <img src="images/image14.png" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
            <div class="card-body">
                <h5 class="card-title">Malak Shaaban</h5>
                <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
            </div>
        </div>
        <!-- card 14 -->
        <div class="col-md-2" >
            <img src="images/image15.jpg" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
            <div class="card-body">
                <h5 class="card-title">Karim Kamel</h5>
                <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
            </div>
        </div>
        <!-- card 15 -->
        <div class="col-md-2" >
            <img src="images/image16.jpg" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
            <div class="card-body">
                <h5 class="card-title">Ramez Helmy</h5>
                <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
            </div>
        </div>
        <!-- card 16 -->
            <div class="col-md-2" >
                <img src="images/image17.jpg" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
                <div class="card-body">
                <h5 class="card-title">Rahma Emad</h5>
                <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
                </div>
            </div>
    </div>
</div>

<!--  carousel slide 5 -->
<div class="carousel-item">
    <div class="row">
        <!-- card 17 -->
        <div class="col-md-2" >
            <img src="images/image18.jpg" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
            <div class="card-body">
                <h5 class="card-title">Reda Tarek</h5>
                <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
            </div>
        </div>
        <!-- card 18 -->
        <div class="col-md-2" >
        <img src="images/image19.jpg" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
        <div class="card-body">
            <h5 class="card-title">Ashraf Dawood</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
        <!-- card 19 -->
        <div class="col-md-2" >
        <img src="images/image20.png" class="card-img-top" alt="Fissure in Sandstone" height="300px"/>
        <div class="card-body">
            <h5 class="card-title">Asmaa Moustafa</h5>
            <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Connect</a>
        </div>
        </div>
    </div>
</div>

</div>
</div>


<!-- Previous & Next buttons -->
<a class="carousel-control-prev" href="#cardCarousel" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#cardCarousel" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>

<!-- Link to Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
