<nav class="navbar">
    <div class="navbar-left">
        <a href="index.html" class="logo"><img src="./static/images/logo.png"></a>
    </div>
    <div class="navbar-center">
        <ul>
            <li><a href="#" class="active-link"><img src="./static/images/home.png"><samp>Home</samp></a></li>
            <li><a href="#"><img src="./static/images/network.png"><samp>My Network</samp></a></li>
            <li><a href="#"><img src="./static/images/jobs.png"><samp>Jobs</samp></a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <div class="online">
            <img src="./static/images/user-1.png" class="nav-profile-img">
        </div>
    </div>
</nav>